# Xcode
DerivedData/
build/
*.xcworkspace
*.xcuserstate
*.xcuserdata/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# iOS app files
*.app
*.ipa
*.xcarchive
*.dSYM
*.framework
gemma-4-e2b-it-4bit
.DS_Store